@font-face {
    font-family: 'webfontregular';
    src: url('https://cdn.rawgit.com/Ixl123/billafont/12260ce0/billabong-webfont-webfont.woff2') format('woff2'),
         url('https://cdn.rawgit.com/Ixl123/billafont/12260ce0/billabong-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}